{"openapi": "3.0.2", "info": {"version": "0.0.1", "title": "pollination.cloud API", "termsOfService": "https://pollination.cloud/terms", "contact": {"email": "hello@pollination.solutions"}, "license": {"name": "AGPL", "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"}, "x-logo": {"url": "https://user-images.githubusercontent.com/2915573/53690998-7239bb00-3d43-11e9-85b1-d9ac9d140c0f.png"}, "description": ""}, "externalDocs": {"description": "Find out more about Pollination Cloud.", "url": "https://pollination.cloud/"}, "servers": [{"url": "http://api.pollination.cloud"}], "tags": [{"name": "Model", "description": "Models includes geometrical information as well as materials, constructions,\nand boundary conditions to describe a simulation model for daylight and energy\nand CFD modeling.\n"}, {"name": "Sensor Grid", "description": "Sensor Grid is a collection of sensors for grid-based studies.\n"}, {"name": "Simulation", "description": "Simulation in Pollination is an executable recipe which has a set of predefined\ninstruction to execute specfic set of commands. In the near future all the recipes\nin Ladybug Tools plugins will be available as Pollination simulations.\n"}, {"name": "Workflow", "description": "Workflow is a collection of usually interrelated simulations. Simulations will be\nexecuted in steps or in parallel based on interdependencies between simulations.\n"}], "security": [{"JWT": []}], "paths": {"/sensor-grids/": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "headers": {"Link": {"description": "The Link header with pagination information. For details see [link header](https://pollination.cloud/api/#section/Pagination/Link-header).", "schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"title": "Response_Get_Sensor_Grids", "type": "array", "items": {"$ref": "#/components/schemas/SensorGridOut"}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Sensor Grid"], "summary": "Get Sensor Grids", "description": "Retrieve a list of sensor grids.", "operationId": "get_sensor_grids", "parameters": [{"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}, "post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "201": {"description": "Created successfully", "headers": {"Location": {"description": "Location of the newly created resource.", "schema": {"type": "string", "format": "url"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreatedContent"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Sensor Grid"], "summary": "Create a Sensor Grid", "description": "Create a new grid of sensors.", "operationId": "create_sensor_grid", "requestBody": {"content": {"application/json": {"schema": {"title": "SensorGridIn", "required": ["name", "sensors"], "type": "object", "properties": {"type": {"title": "Type", "pattern": "SensorGrid", "type": "string", "default": "SensorGrid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "sensors": {"title": "Sensors", "type": "array", "items": {"$ref": "#/components/schemas/Sensor"}, "description": "A flattened array of sensors.", "example": [{"x": 0.0, "y": 0.0, "z": 0.0, "dx": 0.0, "dy": 0.0, "dz": 1.0}, {"x": 0.0, "y": 0.0, "z": 0.0, "dx": 0.0, "dy": 1.0, "dz": 0.0}, {"x": 0.0, "y": 1.0, "z": 1.2, "dx": 0.0, "dy": 0.0, "dz": 1.0}, {"x": 0.0, "y": 1.0, "z": 1.2, "dx": 0.0, "dy": 1.0, "dz": 0.0}]}}, "description": "A flattened collection of sensors for grid-based studies.", "example": {"type": "SensorGrid", "name": "example_grid", "sensors": [{"x": 0.0, "y": 0.0, "z": 0.0, "dx": 0.0, "dy": 0.0, "dz": 1.0}, {"x": 0.0, "y": 0.0, "z": 0.0, "dx": 0.0, "dy": 1.0, "dz": 0.0}, {"x": 0.0, "y": 1.0, "z": 1.2, "dx": 0.0, "dy": 0.0, "dz": 1.0}, {"x": 0.0, "y": 1.0, "z": 1.2, "dx": 0.0, "dy": 1.0, "dz": 0.0}]}}}}, "required": true}, "security": [{"JWT": []}]}}, "/sensor-grids/{gid}": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SensorGridOut"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Sensor Grid"], "summary": "Get a Sensor Grid", "description": "Retrieve a sensor grid.", "operationId": "get_sensor_grid", "parameters": [{"required": true, "schema": {"title": "Grid id.", "type": "string", "format": "uuid"}, "name": "gid", "in": "path"}], "security": [{"JWT": []}]}, "delete": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "204": {"description": "Success", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Sensor Grid"], "summary": "Delete a Sensor Grid", "description": "Delete a sensor grid.", "operationId": "del_sensor_grid", "parameters": [{"description": "Grid id.", "required": true, "schema": {"title": "Grid id", "type": "string", "description": "Grid id.", "format": "uuid"}, "name": "gid", "in": "path"}], "security": [{"JWT": []}]}}, "/sensor-grids/{gid}/sensors": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "headers": {"Link": {"description": "The Link header with pagination information. For details see [link header](https://pollination.cloud/api/#section/Pagination/Link-header).", "schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"title": "Response_Get_Sensors", "type": "array", "items": {"$ref": "#/components/schemas/Sensor"}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Sensor Grid"], "summary": "Get Sensors", "description": "Retrieve list of sensors for a sensor grid.\n    See Location in response headers for paging links.\n    ", "operationId": "get_sensors", "parameters": [{"required": true, "schema": {"title": "Grid id.", "type": "string", "format": "uuid"}, "name": "gid", "in": "path"}, {"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}}, "/models/": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "headers": {"Link": {"description": "The Link header with pagination information. For details see [link header](https://pollination.cloud/api/#section/Pagination/Link-header).", "schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"title": "Response_Get_Models", "type": "array", "items": {"$ref": "#/components/schemas/ModelOut"}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Model"], "summary": "Get Models", "description": "Retrieve a list of models.", "operationId": "get_models", "parameters": [{"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}, "post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "201": {"description": "Created successfully", "headers": {"Location": {"description": "Location of the newly created resource.", "schema": {"type": "string", "format": "url"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreatedContent"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Model"], "summary": "Create a Model", "description": "Create a new model.", "operationId": "create_model", "requestBody": {"content": {"application/json": {"schema": {"title": "Model", "required": ["type", "name"], "type": "object", "properties": {"type": {"title": "Type", "enum": ["Model"]}, "id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string", "description": "Model name"}, "convert_to_meters": {"title": "Convert_To_Meters", "type": "number", "description": "Value to use to convert the current model into meters", "default": 1}, "faces": {"title": "Faces", "type": "array", "items": {"anyOf": [{"$ref": "#/components/schemas/Face"}, {"$ref": "#/components/schemas/ShadeFace"}]}, "description": "List of model faces, can be of type Face or ShadeFace", "default": []}}, "description": "Face by Face Model Schema", "example": {"convert_to_meters": 1, "type": "Model", "name": "face_by_face_model", "faces": [{"name": "floor", "face_type": "Floor", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_floor", "r_reflectance": 0.2, "g_reflectance": 0.2, "b_reflectance": 0.2, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 3.2}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 3.2}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 3.2}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 3.2}]}, {"name": "ceiling", "face_type": "RoofCeiling", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_roof", "r_reflectance": 0.8, "g_reflectance": 0.8, "b_reflectance": 0.8, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 7.4}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 7.4}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 7.4}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 7.4}]}, {"name": "back_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_wall", "r_reflectance": 0.5, "g_reflectance": 0.5, "b_reflectance": 0.5, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 3.2}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 3.2}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 7.4}, {"x": 0, "y": 0, "z": 7.4}], "apertures": [{"name": "back_glazing", "face_type": "Window", "type": "Aperture", "parent": {"name": "back_wall", "type": "face"}, "rad_modifier": {"modifier": "void", "type": "Glass", "name": "generic_glass", "r_transmittance": 0.6, "g_transmittance": 0.6, "b_transmittance": 0.6, "refraction_index": 1.52}, "vertices": [{"x": 0.7778174593052024, "y": 0.7778174593052023, "z": 3.9000000000000004}, {"x": 2.1920310216782974, "y": 2.192031021678297, "z": 3.9000000000000004}, {"x": 2.1920310216782974, "y": 2.192031021678297, "z": 5.9}, {"x": 0.7778174593052024, "y": 0.7778174593052023, "z": 5.9}]}]}, {"name": "right_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_wall", "r_reflectance": 0.5, "g_reflectance": 0.5, "b_reflectance": 0.5, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 2.9698484809835, "y": 2.9698484809834995, "z": 3.2}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 3.2}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 7.4}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 7.4}]}, {"name": "front_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Opaque", "name": "generic_wall", "reflectance": 0.5}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": -1.2727922061357848, "y": 7.212489168102785, "z": 3.2}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 3.2}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 7.4}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 7.4}]}, {"name": "left_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Opaque", "name": "generic_wall", "reflectance": 0.5}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 3.2}, {"x": 0, "y": 0, "z": 7.4}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 7.4}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 3.2}]}]}}}}, "required": true}, "security": [{"JWT": []}]}}, "/models/{id}": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelOut"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Model"], "summary": "Get a Model", "description": "Retrieve a sensor grid.", "operationId": "get_model", "parameters": [{"required": true, "schema": {"title": "Model id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}], "security": [{"JWT": []}]}, "delete": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "204": {"description": "Success", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Model"], "summary": "Delete a Model", "description": "Delete a sensor grid.", "operationId": "del_model", "parameters": [{"description": "Model id.", "required": true, "schema": {"title": "Model id", "type": "string", "description": "Model id.", "format": "uuid"}, "name": "id", "in": "path"}], "security": [{"JWT": []}]}}, "/models/{id}/faces": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {"title": "Response_Get_Faces", "type": "array", "items": {"$ref": "#/components/schemas/Face"}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Model"], "summary": "Get Model Faces", "description": "Retrieve list of sensors for a sensor grid.\n    See Location in response headers for paging links.\n    ", "operationId": "get_faces", "parameters": [{"required": true, "schema": {"title": "model id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}, {"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}, "post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "201": {"description": "Created successfully", "headers": {"Location": {"description": "Location of the newly created resource.", "schema": {"type": "string", "format": "url"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreatedContent"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Model"], "summary": "Create Model Faces", "description": "Create new model faces.", "operationId": "create_faces", "parameters": [{"required": true, "schema": {"title": "Model id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}], "requestBody": {"content": {"application/json": {"schema": {"title": "Faces", "type": "array", "items": {"$ref": "#/components/schemas/Face"}, "description": "A list of Pollination model faces", "example": [{"name": "floor", "face_type": "Floor", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_floor", "r_reflectance": 0.2, "g_reflectance": 0.2, "b_reflectance": 0.2, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 3.2}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 3.2}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 3.2}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 3.2}]}, {"name": "ceiling", "face_type": "RoofCeiling", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_roof", "r_reflectance": 0.8, "g_reflectance": 0.8, "b_reflectance": 0.8, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 7.4}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 7.4}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 7.4}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 7.4}]}, {"name": "back_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_wall", "r_reflectance": 0.5, "g_reflectance": 0.5, "b_reflectance": 0.5, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 3.2}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 3.2}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 7.4}, {"x": 0, "y": 0, "z": 7.4}], "apertures": [{"name": "back_glazing", "face_type": "Window", "type": "Aperture", "parent": {"name": "back_wall", "type": "face"}, "rad_modifier": {"modifier": "void", "type": "Glass", "name": "generic_glass", "r_transmittance": 0.6, "g_transmittance": 0.6, "b_transmittance": 0.6, "refraction_index": 1.52}, "vertices": [{"x": 0.7778174593052024, "y": 0.7778174593052023, "z": 3.9000000000000004}, {"x": 2.1920310216782974, "y": 2.192031021678297, "z": 3.9000000000000004}, {"x": 2.1920310216782974, "y": 2.192031021678297, "z": 5.9}, {"x": 0.7778174593052024, "y": 0.7778174593052023, "z": 5.9}]}]}, {"name": "right_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Plastic", "name": "generic_wall", "r_reflectance": 0.5, "g_reflectance": 0.5, "b_reflectance": 0.5, "specularity": 0, "roughness": 0}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 2.9698484809835, "y": 2.9698484809834995, "z": 3.2}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 3.2}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 7.4}, {"x": 2.9698484809835, "y": 2.9698484809834995, "z": 7.4}]}, {"name": "front_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Opaque", "name": "generic_wall", "reflectance": 0.5}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": -1.2727922061357848, "y": 7.212489168102785, "z": 3.2}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 3.2}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 7.4}, {"x": -1.2727922061357848, "y": 7.212489168102785, "z": 7.4}]}, {"name": "left_wall", "type": "Face", "parent": {"name": "south_room", "type": "zone"}, "face_type": "Wall", "rad_modifier": {"modifier": "void", "type": "Opaque", "name": "generic_wall", "reflectance": 0.5}, "rad_modifier_dir": {"type": "Opaque", "name": "black", "reflectance": 0}, "vertices": [{"x": 0, "y": 0, "z": 3.2}, {"x": 0, "y": 0, "z": 7.4}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 7.4}, {"x": -4.242640687119285, "y": 4.242640687119286, "z": 3.2}]}]}}}, "required": true}, "security": [{"JWT": []}]}}, "/simulations/": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "headers": {"Link": {"description": "The Link header with pagination information. For details see [link header](https://pollination.cloud/api/#section/Pagination/Link-header).", "schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"title": "Response_Get_Simulations", "type": "array", "items": {"anyOf": [{"$ref": "#/components/schemas/DaylightFactorGridBasedOut"}, {"$ref": "#/components/schemas/PointInTimeGridBasedOut"}]}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Get Simulations", "description": "Retrieve a list of simulations.", "operationId": "get_simulations", "parameters": [{"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}, "post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "201": {"description": "Created successfully", "headers": {"Location": {"description": "Location of the newly created resource.", "schema": {"type": "string", "format": "url"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreatedContent"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Create a Simulation", "description": "Create a new model.", "operationId": "create_simulation", "requestBody": {"content": {"application/json": {"schema": {"title": "Simulation", "type": "array", "items": {"anyOf": [{"$ref": "#/components/schemas/DaylightFactorGridBasedIn"}, {"$ref": "#/components/schemas/PointInTimeGridBasedIn"}]}, "description": "A Pollination simulation"}}}, "required": true}, "security": [{"JWT": []}]}}, "/simulations/{id}": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {"title": "Response_Get_Simulation", "anyOf": [{"$ref": "#/components/schemas/DaylightFactorGridBasedOut"}, {"$ref": "#/components/schemas/PointInTimeGridBasedOut"}]}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Get a Simulation", "description": "Retrieve a simulation.", "operationId": "get_simulation", "parameters": [{"required": true, "schema": {"title": "Simulation id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}], "security": [{"JWT": []}]}, "delete": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "204": {"description": "Success", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Delete a Simulation", "description": "Delete a simulation.", "operationId": "del_simulation", "parameters": [{"description": "Simulation id.", "required": true, "schema": {"title": "Simulation id", "type": "string", "description": "Simulation id.", "format": "uuid"}, "name": "id", "in": "path"}], "security": [{"JWT": []}]}}, "/simulations/{id}/actions": {"post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "204": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreatedContent"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Control a Simulation", "description": "Start or stop execution of a simulation.", "operationId": "control_simulation", "parameters": [{"required": true, "schema": {"title": "Simulation id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}], "requestBody": {"content": {"application/json": {"schema": {"title": "Action", "required": ["action"], "type": "object", "properties": {"action": {"title": "Action", "enum": ["Start", "Stop"], "type": "string"}}, "description": "A simulation action"}}}, "required": true}, "security": [{"JWT": []}]}}, "/simulations/{id}/logs": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {"title": "Response_Get_Simulation_Logs", "type": "array", "items": {"$ref": "#/components/schemas/Log"}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Get Simulation Logs", "description": "Retrieve simulation logs.", "operationId": "get_simulation_logs", "parameters": [{"required": true, "schema": {"title": "Simulation id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}, {"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}}, "/simulations/{id}/outputs": {"post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "202": {"description": "Accepted", "headers": {"Retry-After": {"description": "Suggested time to retry after in seconds.", "schema": {"type": "integer", "default": 60}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Accepted"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Request a simulation output", "description": "Request a simulation output.", "operationId": "request_simulation_output", "parameters": [{"required": true, "schema": {"title": "Simulation id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}], "requestBody": {"content": {"application/json": {"schema": {"title": "Output request", "type": "object", "description": "An output object"}}}, "required": true}, "security": [{"JWT": []}]}}, "/simulations/{id}/outputs/{oid}": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "102": {"description": "Processing", "headers": {"Retry-After": {"description": "Suggested time to retry after in seconds.", "schema": {"type": "integer", "default": 60}}}}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Simulation"], "summary": "Get Simulation Output", "description": "Retrieve simulation output.", "operationId": "get_simulation_output", "parameters": [{"required": true, "schema": {"title": "Simulation id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}, {"required": true, "schema": {"title": "Output id.", "type": "string", "format": "uuid"}, "name": "oid", "in": "path"}, {"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}}, "/workflows/": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "headers": {"Link": {"description": "The Link header with pagination information. For details see [link header](https://pollination.cloud/api/#section/Pagination/Link-header).", "schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"title": "Response_Get_Workflows", "type": "array", "items": {"$ref": "#/components/schemas/WorkflowOut"}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Workflow"], "summary": "Get Workflows", "description": "Retrieve a list of workflows.", "operationId": "get_workflows", "parameters": [{"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}, "post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "201": {"description": "Created successfully", "headers": {"Location": {"description": "Location of the newly created resource.", "schema": {"type": "string", "format": "url"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreatedContent"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Workflow"], "summary": "Create a Workflow", "description": "Create a new workflow.", "operationId": "create_workflow", "requestBody": {"content": {"application/json": {"schema": {"title": "WorkflowIn", "required": ["name"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "simulations": {"title": "Simulations", "anyOf": [{"title": "DaylightFactorGridBasedIn", "description": "Daylight factor recipe.", "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished.", "type": "array", "items": {"type": "string"}}, "model_ids": {"title": "Model_Ids", "description": "List of model ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "grid_ids": {"title": "Grid_Ids", "description": "List of sensor grid ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "type": {"title": "Type", "default": "DaylightFactor", "pattern": "DaylightFactor", "type": "string"}, "kind": {"title": "Kind", "default": "GirdBased", "pattern": "GirdBased", "type": "string"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}}, "required": ["name", "depends_on", "grid_ids"]}, {"title": "PointInTimeGridBasedIn", "description": "Point-in-time recipe.", "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished.", "type": "array", "items": {"type": "string"}}, "model_ids": {"title": "Model_Ids", "description": "List of model ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "grid_ids": {"title": "Grid_Ids", "description": "List of sensor grid ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "type": {"title": "Type", "default": "PointInTime", "pattern": "PointInTime", "type": "string"}, "kind": {"title": "Kind", "default": "GirdBased", "pattern": "GirdBased", "type": "string"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}, "sky": {"title": "Sky", "description": "Simulation sky", "anyOf": [{"title": "CIESky", "description": "Radiance standard CIE sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "sky_type": {"title": "Sky_Type", "default": "+s", "enum": ["+s", "-s", "+i", "-i", "-c", "-u"], "type": "string"}}, "required": ["location", "datetime"]}, {"title": "ClimateBasedSky", "description": "Radiance climate-based sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "direct_irradiance": {"title": "Direct_Irradiance", "description": "Direct-normal irradiance in W/m^2.", "type": "number"}, "diffuse_irradiance": {"title": "Diffuse_Irradiance", "description": "Diffuse-horizontal irradiance in W/m^2.", "type": "number"}}, "required": ["location", "datetime", "direct_irradiance", "diffuse_irradiance"]}]}, "simulation_type": {"title": "Simulation_Type", "description": "Simulation output type. Options are `illuminance` and `radiation`", "default": "illuminance", "enum": ["illuminance", "radiation"], "type": "string"}}, "required": ["name", "depends_on", "grid_ids", "sky"]}], "description": "List of simulations in this workflow.", "format": "uuid"}}, "description": "Pollination workflow."}}}, "required": true}, "security": [{"JWT": []}]}}, "/workflows/{id}": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowOut"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Workflow"], "summary": "Get a Workflow", "description": "Retrieve a workflow.", "operationId": "get_workflow", "parameters": [{"required": true, "schema": {"title": "Workflow id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}], "security": [{"JWT": []}]}, "delete": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "204": {"description": "Success", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Workflow"], "summary": "Delete a Workflow", "description": "Delete a workflow.", "operationId": "del_workflow", "parameters": [{"description": "Workflow id.", "required": true, "schema": {"title": "Workflow id", "type": "string", "description": "Workflow id.", "format": "uuid"}, "name": "id", "in": "path"}], "security": [{"JWT": []}]}}, "/workflows/{id}/actions/": {"post": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "204": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreatedContent"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Workflow"], "summary": "Control a Workflow", "description": "Start or stop execution of a workflow.", "operationId": "control_workflow", "parameters": [{"required": true, "schema": {"title": "Workflow id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}], "requestBody": {"content": {"application/json": {"schema": {"title": "Action", "required": ["action"], "type": "object", "properties": {"action": {"title": "Action", "enum": ["Start", "Stop"], "type": "string"}}, "description": "A workflow action"}}}, "required": true}, "security": [{"JWT": []}]}}, "/workflows/{id}/logs": {"get": {"responses": {"401": {"description": "Unauthorized"}, "403": {"description": "Access forbidden"}, "500": {"description": "Server error"}, "404": {"description": "Not found"}, "200": {"description": "Retrieved", "content": {"application/json": {"schema": {"title": "Response_Get_Workflow_Logs", "type": "array", "items": {"$ref": "#/components/schemas/Log"}}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "tags": ["Workflow"], "summary": "Get Workflow Logs", "description": "Retrieve cumulative logs for all simulations in a workflow.", "operationId": "get_workflow_logs", "parameters": [{"required": true, "schema": {"title": "Workflow id.", "type": "string", "format": "uuid"}, "name": "id", "in": "path"}, {"description": "Page number starting from 1", "required": false, "schema": {"title": "Page number", "minimum": 1.0, "type": "integer", "description": "Page number starting from 1", "default": 1}, "name": "page", "in": "query"}, {"description": "Number of items per page", "required": false, "schema": {"title": "Items per page", "maximum": 100.0, "type": "integer", "description": "Number of items per page", "default": 25}, "name": "per-page", "in": "query"}], "security": [{"JWT": []}]}}}, "components": {"schemas": {"CreatedContent": {"title": "CreatedContent", "required": ["id"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "description": "Id for the newly created resource.", "format": "uuid", "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"}, "message": {"title": "Message", "type": "string", "description": " A human readable message", "example": "Use Location in headers to access the new object."}}, "description": "Content for created response."}, "SensorGridOut": {"title": "SensorGridOut", "required": ["id", "name", "sensor_count", "url", "sensors_url"], "type": "object", "properties": {"type": {"title": "Type", "pattern": "SensorGrid", "type": "string", "default": "SensorGrid"}, "id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "sensor_count": {"title": "Sensor_Count", "type": "integer", "description": "Total number of sensors."}, "created_at": {"title": "Created_At", "type": "string", "description": "Sensor grid creation time.", "format": "datetime"}, "url": {"title": "Url", "maxLength": 65536, "minLength": 1, "type": "string", "description": "URL to get sensors for this grid.", "format": "uri", "example": "https://api.pollination.cloud/sensor-grids/7bd00d58-6485-4ca6-b889-3da6d8df3ee4"}, "sensors_url": {"title": "Sensors_Url", "maxLength": 65536, "minLength": 1, "type": "string", "description": "URL to the sensor grid.", "format": "uri", "example": "https://api.pollination.cloud/sensor-grids/7bd00d58-6485-4ca6-b889-3da6d8df3ee4/sensors"}}, "description": "A flattened collection of sensors for grid-based studies."}, "Sensor": {"title": "Sensor", "required": ["x", "y", "z", "dx", "dy", "dz"], "type": "object", "properties": {"x": {"title": "X", "type": "number", "description": "X coordinate of sensor location"}, "y": {"title": "Y", "type": "number", "description": "Y coordinate of sensor location"}, "z": {"title": "Z", "type": "number", "description": "Z coordinate of sensor location"}, "dx": {"title": "Dx", "type": "number", "description": "X coordinate of sensor direction"}, "dy": {"title": "Dy", "type": "number", "description": "Y coordinate of sensor direction"}, "dz": {"title": "Dz", "type": "number", "description": "Z coordinate of sensor direction"}}, "description": "A single sensor.\n\n    The first 3 values indicate the location and the second 3 valuse indicate the\n    direction of the sensor."}, "SensorGridIn": {"title": "SensorGridIn", "required": ["name", "sensors"], "type": "object", "properties": {"type": {"title": "Type", "pattern": "SensorGrid", "type": "string", "default": "SensorGrid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "sensors": {"title": "Sensors", "type": "array", "items": {"$ref": "#/components/schemas/Sensor"}, "description": "A flattened array of sensors.", "example": [{"x": 0.0, "y": 0.0, "z": 0.0, "dx": 0.0, "dy": 0.0, "dz": 1.0}, {"x": 0.0, "y": 0.0, "z": 0.0, "dx": 0.0, "dy": 1.0, "dz": 0.0}, {"x": 0.0, "y": 1.0, "z": 1.2, "dx": 0.0, "dy": 0.0, "dz": 1.0}, {"x": 0.0, "y": 1.0, "z": 1.2, "dx": 0.0, "dy": 1.0, "dz": 0.0}]}}, "description": "A flattened collection of sensors for grid-based studies."}, "ValidationError": {"title": "ValidationError", "required": ["loc", "msg", "type"], "type": "object", "properties": {"loc": {"title": "Location", "type": "array", "items": {"type": "string"}}, "msg": {"title": "Message", "type": "string"}, "type": {"title": "Error Type", "type": "string"}}}, "HTTPValidationError": {"title": "HTTPValidationError", "type": "object", "properties": {"detail": {"title": "Detail", "type": "array", "items": {"$ref": "#/components/schemas/ValidationError"}}}}, "ParentFace": {"title": "ParentFace", "required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "type": {"title": "Type", "type": "string", "default": "face"}}, "description": "Parent face information"}, "Opaque": {"title": "Opaque", "required": ["type", "name", "reflectance"], "type": "object", "properties": {"type": {"title": "Type", "enum": ["Opaque"]}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "reflectance": {"title": "Reflectance", "maximum": 1.0, "minimum": 0.0, "type": "number"}}, "description": "Opaque Material Schema"}, "Transparent": {"title": "Transparent", "required": ["type", "name", "transmittance"], "type": "object", "properties": {"type": {"title": "Type", "enum": ["Transparent"]}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "transmittance": {"title": "Transmittance", "maximum": 1.0, "minimum": 0.0, "type": "number"}}, "description": "Transparent Material Schema"}, "Plastic": {"title": "Plastic", "required": ["type", "name", "r_reflectance", "g_reflectance", "b_reflectance", "specularity", "roughness"], "type": "object", "properties": {"type": {"title": "Type", "enum": ["Plastic"]}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "r_reflectance": {"title": "R_Reflectance", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "g_reflectance": {"title": "G_Reflectance", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "b_reflectance": {"title": "B_Reflectance", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "specularity": {"title": "Specularity", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "roughness": {"title": "Roughness", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "modifier": {"title": "Modifier", "type": "string", "default": "void"}}, "description": "Plastic Material Schema"}, "Glass": {"title": "Glass", "required": ["type", "name", "r_transmittance", "g_transmittance", "b_transmittance", "refraction_index"], "type": "object", "properties": {"type": {"title": "Type", "enum": ["Glass"]}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "r_transmittance": {"title": "R_Transmittance", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "g_transmittance": {"title": "G_Transmittance", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "b_transmittance": {"title": "B_Transmittance", "maximum": 1.0, "minimum": 0.0, "type": "number"}, "refraction_index": {"title": "Refraction_Index", "maximum": 5.0, "minimum": 0.0, "type": "number"}, "modifier": {"title": "Modifier", "type": "string", "default": "void"}}, "description": "Glass Material Schema"}, "Vertex": {"title": "Vertex", "required": ["x", "y", "z"], "type": "object", "properties": {"x": {"title": "X", "type": "number", "description": "X coordinate of the vertex"}, "y": {"title": "Y", "type": "number", "description": "y coordinate of the vertex"}, "z": {"title": "Z", "type": "number", "description": "z coordinate of the vertex"}}, "description": "Individual Vertex Schema"}, "ShadeFace": {"title": "ShadeFace", "required": ["rad_modifier", "name", "vertices", "face_type", "type"], "type": "object", "properties": {"rad_modifier": {"title": "Rad_Modifier", "anyOf": [{"$ref": "#/components/schemas/Opaque"}, {"$ref": "#/components/schemas/Transparent"}, {"$ref": "#/components/schemas/Plastic"}, {"$ref": "#/components/schemas/Glass"}]}, "id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "vertices": {"title": "Vertices", "type": "array", "items": {"$ref": "#/components/schemas/Vertex"}}, "face_type": {"title": "Face_Type", "enum": ["Shading"]}, "rad_modifier_dir": {"title": "Rad_Modifier_Dir", "anyOf": [{"$ref": "#/components/schemas/Opaque"}, {"$ref": "#/components/schemas/Transparent"}, {"$ref": "#/components/schemas/Plastic"}, {"$ref": "#/components/schemas/Glass"}]}, "type": {"title": "Type", "enum": ["ShadeFace"]}}, "description": "ShadeFace Schema"}, "Aperture": {"title": "Aperture", "required": ["rad_modifier", "name", "vertices", "face_type", "type", "parent"], "type": "object", "properties": {"rad_modifier": {"title": "Rad_Modifier", "anyOf": [{"$ref": "#/components/schemas/Opaque"}, {"$ref": "#/components/schemas/Transparent"}, {"$ref": "#/components/schemas/Plastic"}, {"$ref": "#/components/schemas/Glass"}]}, "id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "vertices": {"title": "Vertices", "type": "array", "items": {"$ref": "#/components/schemas/Vertex"}}, "face_type": {"title": "Face_Type", "enum": ["Window"]}, "rad_modifier_dir": {"title": "Rad_Modifier_Dir", "anyOf": [{"$ref": "#/components/schemas/Opaque"}, {"$ref": "#/components/schemas/Transparent"}, {"$ref": "#/components/schemas/Plastic"}, {"$ref": "#/components/schemas/Glass"}]}, "type": {"title": "Type", "enum": ["Aperture"]}, "parent": {"$ref": "#/components/schemas/ParentFace"}, "blinds": {"title": "Blinds", "type": "array", "items": {"$ref": "#/components/schemas/ShadeFace"}, "default": []}}, "description": "Aperture Schema"}, "Face": {"title": "Face", "required": ["rad_modifier", "name", "vertices", "type"], "type": "object", "properties": {"rad_modifier": {"title": "Rad_Modifier", "anyOf": [{"$ref": "#/components/schemas/Opaque"}, {"$ref": "#/components/schemas/Transparent"}, {"$ref": "#/components/schemas/Plastic"}, {"$ref": "#/components/schemas/Glass"}]}, "id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "vertices": {"title": "Vertices", "type": "array", "items": {"$ref": "#/components/schemas/Vertex"}}, "face_type": {"title": "Face_Type", "enum": ["Wall", "RoofCeiling", "Floor", "AirWall", "Window", "Shading"], "type": "string", "default": "Wall"}, "rad_modifier_dir": {"title": "Rad_Modifier_Dir", "anyOf": [{"$ref": "#/components/schemas/Opaque"}, {"$ref": "#/components/schemas/Transparent"}, {"$ref": "#/components/schemas/Plastic"}, {"$ref": "#/components/schemas/Glass"}]}, "type": {"title": "Type", "enum": ["Face"]}, "apertures": {"title": "Apertures", "type": "array", "items": {"$ref": "#/components/schemas/Aperture"}, "description": "List of Apertures bound to the Face", "default": []}}, "description": "A single model face.\n\n    Some clever description"}, "ModelOut": {"title": "ModelOut", "required": ["type", "name", "face_count", "created_at", "url", "faces_url"], "type": "object", "properties": {"type": {"title": "Type", "enum": ["Model"]}, "id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string", "description": "Model name"}, "convert_to_meters": {"title": "Convert_To_Meters", "type": "number", "description": "Value to use to convert the current model into meters", "default": 1}, "face_count": {"title": "Face_Count", "type": "integer", "description": "Number of faces attached to this model"}, "created_at": {"title": "Created_At", "type": "string", "description": "Model creation time.", "format": "date-time", "example": "2019-04-07 22:34:16.764143"}, "url": {"title": "Url", "maxLength": 65536, "minLength": 1, "type": "string", "description": "URL to the model", "format": "uri", "example": "https://api.pollination.cloud/models/7bd00d58-6485-4ca6-b889-3da6d8df3ee4"}, "faces_url": {"title": "Faces_Url", "maxLength": 65536, "minLength": 1, "type": "string", "description": "URL to get faces from this model.", "format": "uri", "example": "https://api.pollination.cloud/models/7bd00d58-6485-4ca6-b889-3da6d8df3ee4/faces"}}, "description": "Face by Face Model Schema Out"}, "Model": {"title": "Model", "required": ["type", "name"], "type": "object", "properties": {"type": {"title": "Type", "enum": ["Model"]}, "id": {"title": "Id", "type": "string", "description": "Unique UUID value.", "format": "uuid"}, "name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string", "description": "Model name"}, "convert_to_meters": {"title": "Convert_To_Meters", "type": "number", "description": "Value to use to convert the current model into meters", "default": 1}, "faces": {"title": "Faces", "type": "array", "items": {"anyOf": [{"$ref": "#/components/schemas/Face"}, {"$ref": "#/components/schemas/ShadeFace"}]}, "description": "List of model faces, can be of type Face or ShadeFace", "default": []}}, "description": "Face by Face Model Schema"}, "Location": {"title": "Location", "type": "object", "properties": {"latitude": {"title": "Latitude", "maximum": 90.0, "minimum": -90.0, "type": "number", "description": "Location latitude between `-90` and `90`. Default is `0`.", "default": 0}, "longitude": {"title": "Longitude", "maximum": 180.0, "minimum": -180.0, "type": "number", "description": "Location longitude between `-180` (west) and `180` (east). Default is `0`.", "default": 0}, "time_zone": {"title": "Time_Zone", "maximum": 12.0, "minimum": -12.0, "type": "number", "description": "Time zone between `-12` hours (west) and `12` hours (east). Default is `0`.", "default": 0}, "elevation": {"title": "Elevation", "minimum": 0.0, "type": "number", "description": "A number for elevation of the location. Default is `0`.", "default": 0}}, "description": "Location."}, "RadianceParameters": {"title": "RadianceParameters", "type": "object", "properties": {"base": {"title": "Base", "enum": ["default", "low", "medium", "high"], "type": "string", "description": "Base input value to set the initial parameters. The default value is set to `default` which will use Radiance default parameters. Other options are `low`, `medium` and `high`.", "default": "default", "example": "default"}, "overwrite": {"title": "Overwrite", "pattern": "-[\\sa-zA-Z0-9.+]+", "type": "string", "description": "An optional string of Radiance parameters to overwrite base values. e.g. `\"-aa 0.01 -ad 4800\"`", "example": "-ab 5 -aa 0.01 -ad 4800"}}, "description": "Parameters for Radiance-based simulations.\n    You can use base to set the values based on preset values and then use overwrite to\n    overwrite custom parameters."}, "DateTime": {"title": "DateTime", "type": "object", "properties": {"month": {"title": "Month", "maximum": 12.0, "minimum": 1.0, "type": "integer", "description": "A value for month between `1`-`12`. Default is `1`.", "default": 1}, "day": {"title": "Day", "maximum": 31.0, "minimum": 1.0, "type": "integer", "description": "A value for day between `1`-`31`. Default is `1`.", "default": 1}, "hour": {"title": "Hour", "maximum": 23.0, "minimum": 0.0, "type": "integer", "description": "A value for hour between `0`-`23`. Default is `0`.", "default": 0}, "minute": {"title": "Minute", "maximum": 59.0, "minimum": 0.0, "type": "integer", "description": "A value for month between `0`-`59`. Default is `0`.", "default": 0}, "is_leap_year": {"title": "Is_Leap_Year", "type": "boolean", "description": "A boolean to indicate if datetime is for a leap year. Default is `false`.", "default": false}}, "description": "DateTime."}, "WorkflowIn": {"title": "WorkflowIn", "required": ["name"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "simulations": {"title": "Simulations", "anyOf": [{"title": "DaylightFactorGridBasedIn", "description": "Daylight factor recipe.", "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished.", "type": "array", "items": {"type": "string"}}, "model_ids": {"title": "Model_Ids", "description": "List of model ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "grid_ids": {"title": "Grid_Ids", "description": "List of sensor grid ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "type": {"title": "Type", "default": "DaylightFactor", "pattern": "DaylightFactor", "type": "string"}, "kind": {"title": "Kind", "default": "GirdBased", "pattern": "GirdBased", "type": "string"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}}, "required": ["name", "depends_on", "grid_ids"]}, {"title": "PointInTimeGridBasedIn", "description": "Point-in-time recipe.", "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished.", "type": "array", "items": {"type": "string"}}, "model_ids": {"title": "Model_Ids", "description": "List of model ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "grid_ids": {"title": "Grid_Ids", "description": "List of sensor grid ids for this simulation.", "format": "uuid", "type": "array", "items": {"type": "string"}}, "type": {"title": "Type", "default": "PointInTime", "pattern": "PointInTime", "type": "string"}, "kind": {"title": "Kind", "default": "GirdBased", "pattern": "GirdBased", "type": "string"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}, "sky": {"title": "Sky", "description": "Simulation sky", "anyOf": [{"title": "CIESky", "description": "Radiance standard CIE sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "sky_type": {"title": "Sky_Type", "default": "+s", "enum": ["+s", "-s", "+i", "-i", "-c", "-u"], "type": "string"}}, "required": ["location", "datetime"]}, {"title": "ClimateBasedSky", "description": "Radiance climate-based sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "direct_irradiance": {"title": "Direct_Irradiance", "description": "Direct-normal irradiance in W/m^2.", "type": "number"}, "diffuse_irradiance": {"title": "Diffuse_Irradiance", "description": "Diffuse-horizontal irradiance in W/m^2.", "type": "number"}}, "required": ["location", "datetime", "direct_irradiance", "diffuse_irradiance"]}]}, "simulation_type": {"title": "Simulation_Type", "description": "Simulation output type. Options are `illuminance` and `radiation`", "default": "illuminance", "enum": ["illuminance", "radiation"], "type": "string"}}, "required": ["name", "depends_on", "grid_ids", "sky"]}], "description": "List of simulations in this workflow.", "format": "uuid"}}, "description": "Pollination workflow."}, "DaylightFactorGridBasedIn": {"title": "DaylightFactorGridBasedIn", "required": ["name", "depends_on", "grid_ids"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "type": "array", "items": {"type": "string"}, "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished."}, "model_ids": {"title": "Model_Ids", "type": "array", "items": {"type": "string"}, "description": "List of model ids for this simulation.", "format": "uuid"}, "grid_ids": {"title": "Grid_Ids", "type": "array", "items": {"type": "string"}, "description": "List of sensor grid ids for this simulation.", "format": "uuid"}, "type": {"title": "Type", "pattern": "DaylightFactor", "type": "string", "default": "DaylightFactor"}, "kind": {"title": "Kind", "pattern": "GirdBased", "type": "string", "default": "GirdBased"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}}, "description": "Daylight factor recipe."}, "SimulationEvent": {"title": "SimulationEvent", "required": ["message", "status", "timestamp"], "type": "object", "properties": {"message": {"title": "Message", "type": "string"}, "status": {"title": "Status", "enum": ["Created", "Started", "Canceled", "Failed", "Finished"], "type": "string", "description": "Status of simulation/ workflow."}, "timestamp": {"title": "Timestamp", "type": "string", "format": "datetime"}}}, "SimulationStatus": {"title": "SimulationStatus", "required": ["status", "history"], "type": "object", "properties": {"status": {"title": "Status", "enum": ["Created", "Started", "Canceled", "Failed", "Finished"], "type": "string", "description": "Final status of the simulation"}, "history": {"title": "History", "type": "array", "items": {"$ref": "#/components/schemas/SimulationEvent"}, "description": "A list of simulation events", "example": [{"status": "Created", "timestamp": "2019-03-11T18:47:13Z"}, {"status": "Started", "timestamp": "2019-03-11T18:47:20Z"}, {"status": "Canceled", "timestamp": "2019-03-11T18:47:30Z"}, {"status": "Started", "timestamp": "2019-03-11T18:48:25Z"}, {"status": "Finished", "timestamp": "2019-03-11T19:09:21Z"}]}}, "description": "Status for a single simulation."}, "app__models__simulation__Action": {"title": "Action", "required": ["url"], "type": "object", "properties": {"verb": {"title": "Verb", "enum": ["Head", "Get", "Post", "Patch", "Put", "Delete"], "type": "string", "default": "Put"}, "payload": {"title": "Payload", "type": "object", "description": "HTTP call payload"}, "url": {"title": "Url", "maxLength": 65536, "minLength": 1, "type": "string", "description": "Action url.", "format": "uri"}}, "description": "A HTTP action"}, "DaylightFactorGridBasedOut": {"title": "DaylightFactorGridBasedOut", "required": ["name", "depends_on", "status", "id", "outputs", "actions", "grid_ids", "radiance_parameters"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "type": "array", "items": {"type": "string"}, "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished."}, "model_ids": {"title": "Model_Ids", "type": "array", "items": {"type": "string"}, "description": "List of model ids for this simulation.", "format": "uuid"}, "status": {"$ref": "#/components/schemas/SimulationStatus"}, "id": {"title": "Id", "type": "string", "description": "Simulation unique id.", "format": "uuid"}, "logs": {"title": "Logs", "maxLength": 65536, "minLength": 1, "type": "string", "description": "Link to related logs to this simulation.", "format": "uri"}, "outputs": {"title": "Outputs", "type": "array", "items": {"$ref": "#/components/schemas/app__models__simulation__Action"}, "description": "List of simulation outputs. Each output has a link to access theoutput resource. The url will only be functional if the execution of simulationis successful otherwise it will throw a `404 Not Found` error."}, "actions": {"title": "Actions", "type": "array", "items": {"$ref": "#/components/schemas/app__models__simulation__Action"}, "description": "List of actions for this simulation."}, "grid_ids": {"title": "Grid_Ids", "type": "array", "items": {"type": "string"}, "description": "List of sensor grid ids for this simulation.", "format": "uuid"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}, "type": {"title": "Type", "pattern": "DaylightFactor", "type": "string", "default": "DaylightFactor"}, "kind": {"title": "Kind", "pattern": "GirdBased", "type": "string", "default": "GirdBased"}}, "description": "Daylight factor simulation."}, "SimulationMinimal": {"title": "SimulationMinimal", "required": ["name", "id"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string", "description": "Simulation name."}, "id": {"title": "Id", "type": "string", "description": "Simulation id.", "format": "uuid"}}, "description": "Minimal simulation representation."}, "WorkflowEvent": {"title": "WorkflowEvent", "required": ["created", "started", "canceled", "failed", "finished"], "type": "object", "properties": {"created": {"title": "Created", "type": "array", "items": {"$ref": "#/components/schemas/SimulationMinimal"}, "description": "Created simulations."}, "started": {"title": "Started", "type": "array", "items": {"$ref": "#/components/schemas/SimulationMinimal"}, "description": "Started simulations."}, "canceled": {"title": "Canceled", "type": "array", "items": {"$ref": "#/components/schemas/SimulationMinimal"}, "description": "Canceled simulations."}, "failed": {"title": "Failed", "type": "array", "items": {"$ref": "#/components/schemas/SimulationMinimal"}, "description": "Failed simulations."}, "finished": {"title": "Finished", "type": "array", "items": {"$ref": "#/components/schemas/SimulationMinimal"}, "description": "Finished simulations."}}}, "WorkflowStatus": {"title": "WorkflowStatus", "required": ["status", "history"], "type": "object", "properties": {"status": {"title": "Status", "enum": ["Created", "Started", "Canceled", "Failed", "Finished"], "type": "string", "description": "Final status of the workflow"}, "history": {"title": "History", "type": "array", "items": {"$ref": "#/components/schemas/WorkflowEvent"}, "description": "A list of workflow events for each simulation"}}, "description": "Workflow status based on each simulation status."}, "LogSourceInfo": {"title": "LogSourceInfo", "type": "object", "properties": {"name": {"title": "Name", "type": "string", "description": "Simulation name"}, "id": {"title": "Id", "type": "string", "description": "Simulation id", "format": "uuid"}}}, "WorkflowOut": {"title": "WorkflowOut", "required": ["name", "status", "id", "actions"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "simulations": {"title": "Simulations", "maxLength": 65536, "minLength": 1, "type": "string", "description": "Link to related simulations to this workflow.", "format": "uri"}, "status": {"$ref": "#/components/schemas/WorkflowStatus"}, "id": {"title": "Id", "type": "string", "description": "Simulation unique id.", "format": "uuid"}, "logs": {"title": "Logs", "maxLength": 65536, "minLength": 1, "type": "string", "description": "Link to related logs to this workflow.", "format": "uri"}, "actions": {"title": "Actions", "type": "array", "items": {"$ref": "#/components/schemas/app__models__simulation__Action"}, "description": "List of actions for this workflow."}}, "description": "Pollination workflow."}, "ClimateBasedSky": {"title": "ClimateBasedSky", "required": ["location", "datetime", "direct_irradiance", "diffuse_irradiance"], "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "maximum": 360.0, "minimum": -360.0, "type": "number", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0}, "direct_irradiance": {"title": "Direct_Irradiance", "type": "number", "description": "Direct-normal irradiance in W/m^2."}, "diffuse_irradiance": {"title": "Diffuse_Irradiance", "type": "number", "description": "Diffuse-horizontal irradiance in W/m^2."}}, "description": "Radiance climate-based sky."}, "PointInTimeGridBasedIn": {"title": "PointInTimeGridBasedIn", "required": ["name", "depends_on", "grid_ids", "sky"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "type": "array", "items": {"type": "string"}, "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished."}, "model_ids": {"title": "Model_Ids", "type": "array", "items": {"type": "string"}, "description": "List of model ids for this simulation.", "format": "uuid"}, "grid_ids": {"title": "Grid_Ids", "type": "array", "items": {"type": "string"}, "description": "List of sensor grid ids for this simulation.", "format": "uuid"}, "type": {"title": "Type", "pattern": "PointInTime", "type": "string", "default": "PointInTime"}, "kind": {"title": "Kind", "pattern": "GirdBased", "type": "string", "default": "GirdBased"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}, "sky": {"title": "Sky", "anyOf": [{"title": "CIESky", "description": "Radiance standard CIE sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "sky_type": {"title": "Sky_Type", "default": "+s", "enum": ["+s", "-s", "+i", "-i", "-c", "-u"], "type": "string"}}, "required": ["location", "datetime"]}, {"title": "ClimateBasedSky", "description": "Radiance climate-based sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "direct_irradiance": {"title": "Direct_Irradiance", "description": "Direct-normal irradiance in W/m^2.", "type": "number"}, "diffuse_irradiance": {"title": "Diffuse_Irradiance", "description": "Diffuse-horizontal irradiance in W/m^2.", "type": "number"}}, "required": ["location", "datetime", "direct_irradiance", "diffuse_irradiance"]}], "description": "Simulation sky"}, "simulation_type": {"title": "Simulation_Type", "enum": ["illuminance", "radiation"], "type": "string", "description": "Simulation output type. Options are `illuminance` and `radiation`", "default": "illuminance"}}, "description": "Point-in-time recipe."}, "CIESky": {"title": "CIESky", "required": ["location", "datetime"], "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "maximum": 360.0, "minimum": -360.0, "type": "number", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0}, "sky_type": {"title": "Sky_Type", "enum": ["+s", "-s", "+i", "-i", "-c", "-u"], "type": "string", "default": "+s"}}, "description": "Radiance standard CIE sky."}, "Log": {"title": "Log", "required": ["timestamp", "source_info", "message"], "type": "object", "properties": {"timestamp": {"title": "Timestamp", "type": "string", "format": "date-time"}, "source_info": {"title": "LogSourceInfo", "type": "object", "properties": {"name": {"title": "Name", "description": "Simulation name", "type": "string"}, "id": {"title": "Id", "description": "Simulation id", "format": "uuid", "type": "string"}}, "description": "Information for the simulation that generated this log."}, "message": {"title": "Message", "type": "string", "description": "Log message."}}}, "PointInTimeGridBasedOut": {"title": "PointInTimeGridBasedOut", "required": ["name", "depends_on", "status", "id", "outputs", "actions", "grid_ids", "radiance_parameters", "simulation_type", "sky"], "type": "object", "properties": {"name": {"title": "Name", "pattern": "^[.A-Za-z0-9_-]*$", "type": "string"}, "depends_on": {"title": "Depends_On", "type": "array", "items": {"type": "string"}, "description": "Name of other simulations that this simulation depends on. This simulation will be executed after all dependencies are finished."}, "model_ids": {"title": "Model_Ids", "type": "array", "items": {"type": "string"}, "description": "List of model ids for this simulation.", "format": "uuid"}, "status": {"$ref": "#/components/schemas/SimulationStatus"}, "id": {"title": "Id", "type": "string", "description": "Simulation unique id.", "format": "uuid"}, "logs": {"title": "Logs", "maxLength": 65536, "minLength": 1, "type": "string", "description": "Link to related logs to this simulation.", "format": "uri"}, "outputs": {"title": "Outputs", "type": "array", "items": {"$ref": "#/components/schemas/app__models__simulation__Action"}, "description": "List of simulation outputs. Each output has a link to access theoutput resource. The url will only be functional if the execution of simulationis successful otherwise it will throw a `404 Not Found` error."}, "actions": {"title": "Actions", "type": "array", "items": {"$ref": "#/components/schemas/app__models__simulation__Action"}, "description": "List of actions for this simulation."}, "grid_ids": {"title": "Grid_Ids", "type": "array", "items": {"type": "string"}, "description": "List of sensor grid ids for this simulation.", "format": "uuid"}, "radiance_parameters": {"$ref": "#/components/schemas/RadianceParameters"}, "type": {"title": "Type", "pattern": "PointInTime", "type": "string", "default": "PointInTime"}, "kind": {"title": "Kind", "pattern": "GirdBased", "type": "string", "default": "GirdBased"}, "simulation_type": {"title": "Simulation_Type", "enum": ["illuminance", "radiation"], "type": "string"}, "sky": {"title": "Sky", "anyOf": [{"title": "CIESky", "description": "Radiance standard CIE sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "sky_type": {"title": "Sky_Type", "default": "+s", "enum": ["+s", "-s", "+i", "-i", "-c", "-u"], "type": "string"}}, "required": ["location", "datetime"]}, {"title": "ClimateBasedSky", "description": "Radiance climate-based sky.", "type": "object", "properties": {"location": {"$ref": "#/components/schemas/Location"}, "datetime": {"$ref": "#/components/schemas/DateTime"}, "north": {"title": "North", "description": "A number between -360 and 360 that represents the degrees off from the y-axis to make North. The default North direction is set to the Y-axis. Default is 0 degrees.", "default": 0, "minimum": -360, "maximum": 360, "type": "number"}, "direct_irradiance": {"title": "Direct_Irradiance", "description": "Direct-normal irradiance in W/m^2.", "type": "number"}, "diffuse_irradiance": {"title": "Diffuse_Irradiance", "description": "Diffuse-horizontal irradiance in W/m^2.", "type": "number"}}, "required": ["location", "datetime", "direct_irradiance", "diffuse_irradiance"]}], "description": "Simulation sky"}}, "description": "Point-in-time simulation."}, "Accepted": {"title": "Accepted", "required": ["url"], "type": "object", "properties": {"url": {"title": "Url", "maxLength": 65536, "minLength": 1, "type": "string", "description": "Url to access the requested resource.", "format": "uri"}, "message": {"title": "Message", "type": "string", "description": " A human readable message", "default": "The request is accepted. Use url to access the resource once ready.", "example": "The request is accepted. Use url to access the resource once ready."}}, "description": "Accepted request response."}, "app__models__action__Action": {"title": "Action", "required": ["action"], "type": "object", "properties": {"action": {"title": "Action", "enum": ["Start", "Stop"], "type": "string"}}}}, "securitySchemes": {"JWT": {"type": "http", "scheme": "bearer"}}}}